/* importing google fonts for better typoraphy */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --bg-color:#242333;
    --text-color: #fff;
    --seat-color: #444451;
    --seat-selected:#6feaf6;
    --seat-occupied: #fff;
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

/* showcase legends styling */
.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 300px;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

/* seat styling */
.seat {
    background-color: var(--seat-color);
    height: 16px;
    width: 20px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.1s ease-in-out;
}

.seat.selected {
    background-color: var(--seat-selected);
}

.seat.occupied {
    background-color: var(--seat-occupied);
}

/* seat hover effect */
/* .seat:nth-of-type(2):hover { 
    cursor: pointer;
    transform: scale(1.2);
}*/

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1);
}

/* cinema screen 3D effect */
.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.row {
    display: flex;
    justify-content: center;
}

/* creating an aisle gap */
.row .seat:nth-of-type(2),
.row .seat:nth-of-type(6) {
    margin-right: 18px;
}

.row .seat:nth-of-type(3),
.row .seat:nth-of-type(7) {
    margin-left: 18px;
}

.text {
    margin: 5px 0;
}

.text span {
    color: var(--seat-selected);
    font-weight: bold;
}