/* Set color variables for easier color management (success = green, error = red) */
:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --text-color: #333;
  --bg-color: #f4f7f6;
  --input-border: #dcdcdc;
}

/* reset and basic styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Form container styling */
.container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    width: 400px;
    max-width: 90%;
    padding: 40px 30px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color);
}

/* styling for each input group */
.form-control {
    margin-bottom: 25px;
    position: relative;
}

.form-control label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-size: 14px;
    font-weight: 600;
}

/* Basic input styling without specific HTML5 attributes  */
.form-control input {
    border: 2px solid var(--input-border);
    border-radius: 6px;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    color: var(--text-color);
    transition: border-color 0.3s ease;
}

.form-control input:focus {
    outline: none;
    border-color: #a0a0a0;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

/* Error messages are hidden by default */
.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: -20px;
    left: 0;
    visibility: hidden;
    font-size: 12px;
    font-weight: 500;
}

/* Show error message if .error class is active  */
.form-control.error small{
    visibility: visible;
}

/* submit button styling */
button {
    cursor: pointer;
    background-color: #3498db;
    border: none;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 14px;
    margin-top: 30px;
    width: 100%;
    border-radius:6px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Global notification message */
.alert-box {
    display: none;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.alert-box.show {
    display: block;
}

.alert-box.success-msg {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}